@media(max-width:768px){

.hero h1{

font-size:60px;

}

.hero p{

font-size:18px;

padding:20px;

}

button{

width:85%;

}

.moon{

width:120px;

height:120px;

right:20px;

}

}